<div class="features-four">
  <div class="row">
    <% target.each do |topic| %>
      <div class="span5">
        <div class="f-block b-white">
          <h3><%= link_to topic.title, topic %></h3>
          <% if topic.has_best_link? %>
            <p class="links">Number of links: <%= link_to topic.links.length, topic %></p>
            <h5>Best Link: <%= link_to topic.best_link.title, topic.best_link.link.url %></h5>
          <% end %>
          <% if has_admin_privileges? %>
            <p><%= link_to 'Edit', edit_topic_path(topic) %></p>
            <p><%= link_to 'Destroy', topic, method: :delete, data: { confirm: 'Are you sure?' } %></p>
          <% end %>
        </div>
      </div>
  <% end %>
  </div>
</div>
