<%= form_for(@topic) do |f| %>
  <%= render "shared_partials/error_messages", :target => @topic %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <%= f.label :category %> <br>
  <%= f.collection_select(:category_id, Category.all, :id, :title) %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
