<p id="notice"><%= notice %></p>

<div>

  <div>
    <b>Category:</b>
      <%= @topic.category.title %> <br />
    <b>Topic:</b>
      <%= @topic.title %>
    <% if @topic.best_link %>
      <p> The best link for this topic is <%= link_to(@topic.best_link.url, @topic.best_link.url)%>.</p>
    <% end %>
  </div>
  

  <% if logged_in? %>
   <%= render 'topic_links/form' %>
  <% end %>

  <div>
    <%= render partial: "links_table", locals:{:links => @topic.order_topic_links_by_score} %>
  </div>

  <div>
  <%= link_to 'Edit', edit_topic_path(@topic) %> |
  <%= link_to 'Back', @topic.category %>
  </div>
</div>
