<p id="notice"><%= notice %></p>

<p>
  <b>Category:</b>
  <%= @topic.category.title %> <br />
  <b>Topic:</b>
  <%= @topic.title %>
  <% if @topic.best_link_id %>
  <p> The best link for this topic is <%= link_to(@topic.best_link.url, @topic.best_link.url)%>.
    <% end %>
  </p>

  <%= render 'topic_links/form' %>
  <b>Other Links:</b>
  <%# raise @topic.topic_links.inspect %>
  <% @topic.topic_links.each do |tl| %>

    <br>
    <%= tl.link.title %><br/>
    <%= tl.link.description %><br/>
    <%= link_to(tl.link.url, tl.link.url) %>
    <%= tl.score %>

    <form action="/topics/<%=@topic.id%>/links/<%=tl.id%>/votes" method="post">
      <input type="hidden" name="vote[kind]" value="up">
      <input type="hidden" name="vote[user_id]" value=2>
      <input type="submit" value="Vote Up" />
    </form>
    <form action="/topics/<%=@topic.id%>/links/<%=tl.id%>/votes" method="post">
      <input type="hidden" name="vote[kind]" value="down">
      <input type="hidden" name="vote[user_id]" value=2>
      <input type="submit" value="Vote Down" />
    </form>
  <% end %>
</p>


<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', @topic.category %>
