<h2><%= @topic.title %></h2>
<p class="big grey">submitted by <%= link_to @topic.user.username, user_path(@topic.user_id) %></p>

  <% if @topic.authorize?(current_user) %>
    <%= link_to 'Edit Topic', edit_topic_path(@topic) %> |
    <%= link_to 'Delete', @topic, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
<br>
<%= render partial: 'topic_links/form' %>

<hr />

<%= render partial: 'topics/links_table', locals: {links: @topic.topic_links} %>