<p id="notice"><%= notice %></p>

<p>
  <b>Category:</b>
  <%= @topic.category.title %> <br />
  <b>Topic:</b>
  <%= @topic.title %>
  <% if @topic.best_link_id %>
  <p> The best link for this topic is <%= link_to(@topic.best_link.url, @topic.best_link.url)%>.
    <% end %>
  </p>

  <%= render 'topic_links/form' %>
  <b>Other Links:</b>
  <% @topic.topic_links.each do |tl| %>
  <br>
  <%= link_to(tl.link.url, tl.link.url) %>
  <%= tl.score %>
  <%= button_to 'Up Vote', { :action=>"up_vote", :controller=>"topic_links"} %>
  <% end %>
</p>


<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', @topic.category %>
