<p id="notice"><%= notice %></p>

<p>
  <b>Category:</b>
  <%= @topic.category.title %> <br />
  <b>Topic:</b>
  <%= @topic.title %>
  <% if @topic.best_link %>
  <p> The best link for this topic is <%= link_to(@topic.best_link.url, @topic.best_link.url)%>.
    
  </p>
  <% end %>
  <%= render 'topic_links/form' %>
  <b>Other Links:</b>
  <%# raise @topic.topic_links.inspect %>
  <% @topic.order_topic_links_by_score.each do |tl| %>

    <br>
    <%= tl.link.title %><br/>
    <%= tl.link.description %><br/>
    <%= link_to(tl.link.url, tl.link.url) %>
    <%= tl.score %>
    <% if logged_in? %>
      <%= form_tag topic_link_votes_path(topic_id:@topic.id, link_id:tl.id) do %>
        <input type="hidden" name="vote[kind]" value="up">
        <input type="hidden" name="vote[user_id]" value="<%= session[:user_id]%>">
        <input type="submit" value="Vote Up" />
      <% end %>

      <%= form_tag topic_link_votes_path(topic_id:@topic.id, link_id:tl.id) do %>
        <input type="hidden" name="vote[kind]" value="down">
        <input type="hidden" name="vote[user_id]" value="<%= session[:user_id]%>">
        <input type="submit" value="Vote Down" />
    <% end %>
    <% end %>
  <% end %>
</p>


<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', @topic.category %>
