<div class="row tasks">
<div class="span12">
  <h2><%= @topic.title %></h2>
  <p class="big grey"><%= link_to @topic.category.channel.title, channel_path(@topic.category.channel) %> > <%= link_to @topic.category.title, category_path(@topic.category) %></p>
  <p>Submitted by <%= link_to @topic.user.username, user_path(@topic.user_id) %></p>
  <%= @topic.best_link.title if @topic.best_link %>
  <% if @topic.authorize?(current_user) %>
    <%= render partial: 'topics/edit_form_modal', locals: {topic:@topic}%>
      <a href="#editTopicFormModal" data-toggle="modal">Edit</a> |
    <%= link_to 'Delete', @topic, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>

  <br>
  <a href=<%=("#tlFormModal" if logged_in?) || "#loginModal" %> role="button" class="btn" data-toggle="modal">Add a New Link</a>

  <%= render partial: 'topic_links/form_modal' if logged_in?%>
  <br>
  <hr />
</div>
</div>
  <%= render partial: 'links_table', locals: {links: @topic.topic_links} %>
