<div class="tasks">
  <p class="big grey"><%= link_to @channel.title, @channel %> > <%= link_to @category.title, @category %></p>
  <h1><%= @topic.title %></h1>
  <p class="topic_submission">Submitted by <%= link_to @topic.user.username, @topic.user %></p>
  <% if @topic.authorize?(current_user) %>
       <a href="#" data-topic="<%=@topic.id%>" class="topic-edit-link">Edit</a> |
    <%= link_to 'Delete', @topic, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>

  <br>
  <a href="#" data-topic="<%=@topic.id%>" class="btn link_button <%=('topic-link-submit-link' if logged_in?) || 'login-link' %>" role="button">Add a New Link</a>
</div>
  <%= render partial: 'links_table', locals: {links: @topic_links} %>
