<div class='submitted-link task'>
  <table class='link'>
    <td class="link_score"><%= topic_link.score %>
      <p class="score-text">score</p>
    </td>
    <td><h6><%= link_to truncate(topic_link.title, length:45), topic_link.link.url, title: topic_link.link.url, rel: 'tooltip' %></h6></td>
  </table>
  
  
  <div class='info'>
    <p><i class="icon-calendar"></i> <%=time_ago_in_words(topic_link.created_at)%> ago | <%= link_to topic_link.topic.category.title, topic_link.topic.category %> > <%= link_to truncate(topic_link.topic.title, length: 60), topic_link.topic %> </p>
  </div>
</div>