
<table>
  <tr>
    <th>Submitted Topics</th>
  </tr>

<% @user.topics.each do |topic| %>
<tr>
    <td><%= link_to topic.title, topic %></td>
<% end %>
</tr>
</table>



<table>
  <tr>
    <th>Submitted Links (Goes to Parent Topic. Change?)</th>
  </tr>

<% @user.topic_links.each do |tl| %>
<tr>
    <td><%= link_to tl.title, topic_path(tl.topic_id) %> </td>
<% end %>
</tr>
</table>



<table>
  <tr>
    <th>Topics Voted On</th>
  </tr>

<% @user.topics_voted.each do |t| %>
<tr>
  <!-- Can't figure out proper paths and how to display things right now -->
    <td><%= link_to t.title, topic_path(t)%> </td>
<% end %>
</tr>
</table>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
