<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<table>
  <tr>
    <th>Submitted Topics</th>
  </tr>

<% @user.topics.each do |topic| %>
<tr>
    <td><%= link_to topic.title, topic %></td>
<% end %>
</tr>
</table>
<br>
<table>
  <tr>
    <th>Submitted Links (Goes to Parent Topic. Change?)</th>
  </tr>

<% @user.topic_links.each do |tl| %>
<tr>
    <td><%= link_to tl.title, topic_path(tl.topic_id) %> </td>
<% end %>
</tr>
</table>
<br>
<table>
  <tr>
    <th>Links Voted On</th>
  </tr>

<% @user.votes.each do |vote| %>
<tr>
  <!-- Can't figure out proper paths and how to display things right now -->
    <td><%= link_to vote.topic_link_id, topic_path(vote.topic_link_id)%> </td>
<% end %>
</tr>
</table>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
