<h3><%= @user.username %></h3>
Member since: <%= distance_of_time_in_words(@user.created_at, Time.now) %> ago<br>
<%= "Following: " if @user.friends.length > 0 %> 
<% @user.friends.each do |friend| %>
  <%= link_to friend.username, user_path(friend) %><%= "," if friend != @user.friends.last %>
<% end %>
<% if @user == current_user %>
  <% if @user.authenticated_with_twitter? %>
  <p> You are connected to Twitter as <%= current_user.twitter_handle %></p>
  <% else %>
    <p><%= link_to 'Connect your Twitter account to see your friends\' activity', '/auth/twitter' %></p>
  <% end %>
<% end %>
<% if same_user_or_admin? %>
  <%= link_to 'Delete', @user, method: :delete, data: { confirm: 'Are you sure?' } %> | 
  <%= link_to 'Update Account', edit_user_path(@user) %>
<% end %>
<hr>

<div class="row">
  <div class="span12">
    <div class="row indent-submissions">
      <div class="span6">
        <%= render partial: 'submitted_topics', locals: {submitted_topics: @user.topics.limit(5).order("created_at DESC")}%>
      </div>
      <div class="span6">
        <%= render partial: 'submitted_links', locals: {submitted_links: @user.topic_links.limit(5).order("created_at DESC")}%>
      </div>
    </div>
    <div class="row indent-submissions">
      <div class="span6">
        <%= render partial: 'up_voted_links', locals: {upvotes: @user.up_votes.compact}%>
      </div>
      <div class="span6">
        <%= render partial: 'down_voted_links', locals: {downvotes: @user.down_votes.compact}%>
      </div>
    </div>
  </div>
</div> 