<%= form_for(@link) do |f| %>
  <%= render "shared_partials/error_messages", :target => @link %> 

  <div class="field">
    <b>Submit A New Link</b><br/>
    <%= f.label "Url:" %>
    <%= f.text_field :url %>
    <%= f.submit "Submit Link" %>
  </div>
<% end %>
