<%= form_for(@topic_link, url: path) do |f| %>
    <%= render "shared_partials/error_messages", :target => @topic_link %>
    <div class="field">
        <%= fields_for @link do |l|%>
        <%= l.label "Url:" %>
        <%= l.text_field :url %>
        <% end %>
    <%= f.label "Title:" %>
    <%= f.text_field :title %><br>
    <%= f.label "Description:" %>
    <%= f.text_area :description, :rows=> 4 %><br/>
    <%= f.submit "Submit" %>
    </div>

<% end %>