 <%= form_for(@topic_link, :url => topic_links_path(@topic)) do |f| %>
 <%= render "shared_partials/error_messages", :target => @topic_link %>
   
    <div class="field">
      <%= f.fields_for(:link) do |l| %>
        <b>Submit A New Link</b><br/>
        <%= l.label "Title:" %>
        <%= l.text_field :title %><br>
        <%= l.label "Description:" %>
        <%= l.text_area :description, :rows=> 4 %><br/>
        <%= l.label "Url:" %>
        <%= l.text_field :url %>
      <% end %>
        <%= f.submit "Submit Link" %>
    </div>
<% end %>