<tr class="link_item">
  <td class="link_score task <%= "best_link" if tl == @topic.best_link %> ">
    <%= form_tag(topic_link_votes_path(topic_id:@topic.id, link_id:tl.id )) do%>
      <%= hidden_field(:vote, :status, value: 1) %>
      <%= hidden_field(:vote, :user_id, value: session[:user_id]) %>
      <% if logged_in? %>
        <%= image_submit_tag "upvote.png"%>
      <% else %>
        <a href="#loginModal" role="button" class="btn vote" data-toggle="modal"><%=image_tag "upvote.png"%></a>
      <% end %>
    <% end %>
    
    <%= tl.score %>
  
    <%= form_tag(topic_link_votes_path(topic_id:@topic.id, link_id:tl.id )) do %>
      <%= hidden_field(:vote, :status, value: -1) %>
      <%= hidden_field(:vote, :user_id, value: session[:user_id]) %>
      <% if logged_in? %>
        <%= image_submit_tag "downvote.png"%>
      <% else %>
        <a href="#loginModal" role="button" class="btn vote" data-toggle="modal"><%=image_tag "downvote.png"%></a>
      <% end %>
    <% end%>
  </td>
  <td class="link_info task <%= "best_link" if tl == @topic.best_link %> ">
    <h6><% link_to tl.title.titleize, tl.link.url, title: tl.link.url, rel: 'tooltip' %></h6>
    <p><%= tl.description %></p>
    <div class="tmeta"><i class="icon-calendar"></i> <%= time_ago_in_words(tl.created_at) %> ago | <i class="icon-user"></i> Submitted by <%= link_to tl.user.username, user_path(tl.user_id) %></div>
    <% if current_user && tl.friend_up_voters(current_user).length > 0 %>
      Voted up by <%= tl.friends_score(current_user) %> 
      <% if tl.friend_up_voters(current_user).length > 1 %>
        people you follow:  
      <% else %>
        person you follow:
      <% end %>
      <%tl.friend_up_voters(current_user).each do |f| %> 
        <%= link_to User.find(f).username, user_path(f) %><%= "," if f != tl.friend_up_voters(current_user).last %>
      <% end %>
    <% end %>
    <% if tl.authorize?(current_user) %>
      <p><%= link_to "Edit", edit_topic_link_path(@topic, tl) %> | 
      <%= link_to "Delete", topic_link_path(@topic, tl), method: :delete, data: { confirm: 'Are you sure?' }%></p>
    <% end %>
  </td>
</tr>


