<tr class="link_item">
  <td class="link_score task">
    <%= form_tag((topic_link_votes_path(topic_id:@topic.id, link_id:tl.id )if logged_in? )|| "javascript:alert('Please log in to vote!');") do %>
      <%= hidden_field(:vote, :status, value: 1) %>
      <%= hidden_field(:vote, :user_id, value: session[:user_id]) %>
      <%= image_submit_tag "upvote.png"%>
    <% end %>
    
    <%= tl.score %>
  
    <%= form_tag((topic_link_votes_path(topic_id:@topic.id, link_id:tl.id )if logged_in? )|| "javascript:alert('Please log in to vote!');") do %>
      <%= hidden_field(:vote, :status, value: -1) %>
      <%= hidden_field(:vote, :user_id, value: session[:user_id]) %>
      <%= image_submit_tag "downvote.png"%>
    <% end%>
  </td>
  <td class="link_info task">
    <h6><%= link_to(tl.title.titleize, tl.link.url) %></h6>
   
    <p><%= tl.description %></p>
    

     <div class="tmeta"><i class="icon-calendar"></i> <%= time_ago_in_words(tl.created_at) %> ago | <i class="icon-user"></i> Submitted by <%= link_to tl.user.username, user_path(tl.user_id) %></div>

    <% if tl.authorize?(current_user) %>
      <p><%= link_to "Edit", edit_topic_link_path(@topic, tl) %> | 
        <%= link_to "Delete", topic_link_path(@topic, tl), method: :delete, data: { confirm: 'Are you sure?' }%></p>
    <% end %>
  </td>
</tr>


