<tr class="link_item">
  <td class="link_score task">
    <%= form_tag(topic_link_votes_path(topic_id:@topic.id, link_id:tl.id )) do%>
      <%= hidden_field(:vote, :status, value: 1) %>
      <%= hidden_field(:vote, :user_id, value: session[:user_id]) %>
      <% if logged_in? %>
        <%= image_submit_tag "upvote.png"%>
      <% else %>
        <a href="#myModal" role="button" class="btn vote" data-toggle="modal"><%=image_tag "upvote.png"%></a>
      <% end %>
    <% end %>
    
    <%= tl.score %>
  
    <%= form_tag(topic_link_votes_path(topic_id:@topic.id, link_id:tl.id )) do %>
      <%= hidden_field(:vote, :status, value: -1) %>
      <%= hidden_field(:vote, :user_id, value: session[:user_id]) %>
      <% if logged_in? %>
        <%= image_submit_tag "downvote.png"%>
      <% else %>
        <a href="#myModal" role="button" class="btn vote" data-toggle="modal"><%=image_tag "downvote.png"%></a>
      <% end %>
    <% end%>
  </td>
  <td class="link_info task">
    <h6><%= link_to(tl.title.titleize, tl.link.url) %></h6>
   
    <p><%= tl.description %></p>
    

     <div class="tmeta"><i class="icon-calendar"></i> <%= tl.created_at.strftime('%B %d, %Y') %> - <i class="icon-user"></i> Link submitted by <%= link_to tl.user.username, user_path(tl.user_id) %></div>

    <% if tl.authorize?(current_user) %>
      <p><%= link_to "Edit", edit_topic_link_path(@topic, tl) %> | 
        <%= link_to "Delete", topic_link_path(@topic, tl), method: :delete, data: { confirm: 'Are you sure?' }%></p>
    <% end %>
  </td>
</tr>


