<tr class="link_item">
  <td class="span1 link_score">
    <%= form_tag((topic_link_votes_path(topic_id:@topic.id, link_id:tl.id )if logged_in? )|| "javascript:alert('Please log in to vote!');") do %>
      <%= hidden_field(:vote, :status, value: 1) %>
      <%= hidden_field(:vote, :user_id, value: session[:user_id]) %>
      <%= image_submit_tag "upvote.png"%>
    <% end %>
    
    <%= tl.score %>

  
    <%= form_tag((topic_link_votes_path(topic_id:@topic.id, link_id:tl.id )if logged_in? )|| "javascript:alert('Please log in to vote!');") do %>
      <%= hidden_field(:vote, :status, value: -1) %>
      <%= hidden_field(:vote, :user_id, value: session[:user_id]) %>
      <%= image_submit_tag "downvote.png"%>

    <% end%>
  </td>
  <td class="span8 link_info">
  <p class="title"><%= link_to(tl.title.titleize, tl.link.url) %></p>
  <%= tl.description %><br/>
  <%= link_to(tl.link.url, tl.link.url) %>
  <p>Link submitted by <%= link_to tl.user.username, user_path(tl.user_id) %></p>
  <p> <% if tl.score > 0 %>
        votes by
      <% end %>
    <% tl.votes.each do |v|%>
      <% if v.status == 1 %>
        <% User.where(id: v.user_id).each do |u| %>
          <%= link_to u.username, user_path(u.id) %>
        <% end %> 
      <% end %>
    <% end %>
  </p>
  <% if tl.authorize?(current_user) %>
    <p><%= link_to "Edit", edit_topic_link_path(@topic, tl) %> |
    <%= link_to "Delete", topic_link_path(@topic, tl), method: :delete, data: { confirm: 'Are you sure?' }%></p>
  <% end %>
  </td>
</tr>