<tr class="link_item">
  <td class="span1 link_score">
    <%= form_tag((topic_link_votes_path(topic_id:@topic.id, link_id:tl.id )if logged_in? )|| "javascript:alert('Please log in to vote!');") do %>
      <%= hidden_field(:vote, :kind, value: "up") %>
      <%= hidden_field(:vote, :user_id, value: session[:user_id]) %>
      <%= image_submit_tag "upvote.png"%>
    <% end %>
    
    <%= tl.score %>

  
    <%= form_tag((topic_link_votes_path(topic_id:@topic.id, link_id:tl.id )if logged_in? )|| "javascript:alert('Please log in to vote!');") do %>
      <%= hidden_field(:vote, :kind, value: "down") %>
      <%= hidden_field(:vote, :user_id, value: session[:user_id]) %>
      <%= image_submit_tag "downvote.png"%>

    <% end%>
  </td>
  <td class="span8 link_info">
  <p class="title"><%= link_to(tl.title.titleize, tl.link.url) %></p>
  <%= tl.description %><br/>
  <%= link_to(tl.link.url, tl.link.url) %>
  <p>Link submitted by <%= tl.user.username %></p>
  </td>
</tr>