<tr class="link_item">
  <td class="span1 link_score">
    <% if logged_in? %>
      <%= form_tag topic_link_votes_path(topic_id:@topic.id, link_id:tl.id) do %>
        <input type="hidden" name="vote[kind]" value="up">
        <input type="hidden" name="vote[user_id]" value="<%= session[:user_id]%>">
        <%= image_submit_tag "upvote.png"%>
      <% end %>
    <% end %>
      
      <%= tl.score %>

    <% if logged_in? %>
      <%= form_tag topic_link_votes_path(topic_id:@topic.id, link_id:tl.id) do %>
        <input type="hidden" name="vote[kind]" value="down">
        <input type="hidden" name="vote[user_id]" value="<%= session[:user_id]%>">
        <%= image_submit_tag "downvote.png"%>
      <% end %>
      <% end%>
  </td>
  <td class="span8 link_info">
  <p class="title"><%= link_to(tl.link.title.titleize, tl.link.url) %></p>
  <%= tl.link.description.capitalize %><br/>
  <%= link_to(tl.link.url, tl.link.url) %>
  </td>
</tr>