<div>
  <h2><%= link_to @channel.title, @channel %> > <%= @category.title %></h2>
  <% if has_admin_privileges? %>
      <p><%= link_to 'Edit', edit_category_path(@category) %> |
      <%= link_to 'Destroy', @category, method: :delete, data: { confirm: 'Are you sure?' } %></p>
    <% end %>
  <hr>
  <%= render partial: 'shared_partials/topic_list', locals: {target: @category.topics}%>
</div>

